<div class="connected-apps">
  <div class="connected-app-item">
    <div class="heading">
      <h3>Connect apps to access their indormation in ChatBotAI</h3>
    </div>
    <div class="link-box">
      <div class="apps-box">
        <div class="inner-apps-section">
          <div class="inner-apps-section-left">
            <mat-icon> add_to_drive </mat-icon>
            <h5>Google Drive</h5>
          </div>
          <div class="inner-apps-section-right">
            <button>Connect</button>
          </div>
        </div>
        <p>Upload Google Docs, Sheets, Slides and other files.</p>
      </div>
      <div class="apps-box">
        <div class="inner-apps-section">
          <div class="inner-apps-section-left">
            <mat-icon> filter_drama</mat-icon>
            <h5>Microsoft OneDrive (personal)</h5>
          </div>
          <div class="inner-apps-section-right">
            <button>Connect</button>
          </div>
        </div>
        <p>Upload Microsoft Word, Excel, PowerPoint and other files.</p>
      </div>
      <div class="apps-box">
        <div class="inner-apps-section">
          <div class="inner-apps-section-left">
            <mat-icon> filter_drama </mat-icon>
            <h5>Microsoft OneDrive (work/school)</h5>
          </div>
          <div class="inner-apps-section-right">
            <button>Connect</button>
          </div>
        </div>
        <p>
          Upload Microsoft Word, Excel, PowerPoint, and other files, including
          those from SharePoint sites.
        </p>
      </div>
    </div>
  </div>
</div>
