:root {
  --primary-color: #3f51b5;
  --text-color: #ffffff;
  --error-color: #f44336;
}
.edit-box {
  padding: 25px;
}
.dialog-title {
  font-size: 20px;
  font-weight: bold;
  color: var(--primary-color);
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.full-width {
  width: 100%;
}

/* Fix label visibility */
mat-label,
mat-select-placeholder {
  color: var(--text-color) !important;
  opacity: 1 !important;
}

/* Input fields text color */
input.mat-input-element,
textarea.mat-input-element {
  color: var(--text-color) !important;
}

/* Fix mat-select (dropdown) visibility */
.mat-select-value {
  color: var(--text-color) !important;
}

/* Improve button visibility */
.dialog-actions {
  padding: 16px 0;
}

.cancel-btn {
  color: var(--error-color) !important;
  transition: 0.3s ease-in-out all;
}

.save-btn {
  background-color: var(--primary-color) !important;
  color: white !important;
  margin: 0px 5px;
  transition: 0.3s ease-in-out all;
}
.save-btn:hover {
  background-color: var(--primary-color-hover) !important;
}
.cancel-btn:hover {
  background-color: var(--text-color);
  color: var(--bg-color) !important;
}
