<h2 mat-dialog-title>Add Credentials</h2>
<mat-dialog-content>
  <form
    class="login-form"
    aria-live="polite"
    aria-relevant="additions"
    aria-atomic="false"
  >
    <div class="form-group">
      <mat-form-field appearance="outline" class="input-field-none">
        <mat-label>Username</mat-label>
        <input
          matInput
          name="username"
          type="text"
          placeholder="Enter your username"
          [(ngModel)]="userName"
          required
          #username="ngModel"
        />
        <mat-error *ngIf="username.invalid && username.touched">
          Username is required
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="input-field-none">
        <mat-label>Email</mat-label>
        <input
          matInput
          name="email"
          type="email"
          placeholder="Enter your email"
          [(ngModel)]="email"
          required
          email
          #emailInput="ngModel"
        />
        <mat-error *ngIf="emailInput.invalid && emailInput.touched">
          Please enter a valid email address
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" class="input-field-none">
        <mat-label>Password</mat-label>
        <input
          matInput
          name="password"
          type="password"
          placeholder="Enter your email"
          [(ngModel)]="password"
          required
          email
          #emailInput="ngModel"
        />
        <mat-error *ngIf="emailInput.invalid && emailInput.touched">
          Please enter a pasword
        </mat-error>
      </mat-form-field>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end" class="action-buttons">
  <button mat-button mat-dialog-close class="cancle-btn">Cancel</button>
  <button mat-raised-button [mat-dialog-close]="true" (click)="onInputChange()">
    Save
  </button>
</mat-dialog-actions>
