<div class="connected-apps">
  <div class="connected-app-item">
    <div class="heading">
      <h3>Security</h3>
    </div>
    <div class="link-box">
      <div class="apps-box">
        <div class="inner-apps-section">
          <div class="inner-apps-section-left">
            <h5>Multi-factor authentication</h5>
          </div>
          <div class="inner-apps-section-right">
            <button>Enable</button>
          </div>
        </div>
        <p>
          Require an extra security challenge when logging in. If you are unable
          to pass this challenge, you will have the option to recover your
          account via email.
        </p>
      </div>
      <div class="apps-box">
        <div class="inner-apps-section">
          <div class="inner-apps-section-left">
            <h5>Log out of all devices</h5>
          </div>
          <div class="inner-apps-section-right">
            <button>Log out all</button>
          </div>
        </div>
        <p>
          Log out of all active sessions across all devices, including your
          current session. It may take up to 30 minutes for other devices to be
          logged out.
        </p>
      </div>
    </div>
  </div>
</div>
